@page
@using DataBase
@model PhoneDB.Pages.PhoneDetail;

@{
    var phone = Model.Phone;

    if (phone is null)
    {
        throw new Exception();
    }

    async Task RenderPropertyRows(List<Property> properties)
    {
        @foreach (var property in properties)
        {
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        @(property.PropertyType.Name)
                    </div>
                    <div class="col">
                        @(property.Data.ToString())
                    </div>
                </div>
            </li>
        }
    }


    async Task RenderSectionHead(DataBase.Section section)
    {
        <li class="list-group-item">
            <div class="col fs-3 fw-bold">
                @(section.SectionType.Name)
            </div>
        </li>
    }
}


<div class="d-flex flex-column gap-2 pb-4">
    <h1 class="fs-3 fw-bold">Phone: @(phone.Name)</h1>




    <div class="d-flex flex-wrap gap-2 flex-grow-1 justify-content-center justify-content-sm-start">
        @foreach (var image in phone.Images)
        {
            <div>

                    
                    <div class="card">
                        <div class="card-body">
                            
                            <img alt="thumbnail for phone @(phone.Name)" src="@(Utils.Utils.GetClientPathForImage(image.Name))"
                                 class="img-thumbnail rounded" style="width: 200px;height: 200px"/>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                        <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#@(image.Id)">
                            full size
                        </a>
                        
                        

                    </div>
                
            
                
                <div class="modal fade" id="@(image.Id)" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img alt="image for phone @(phone.Name)"   src="@(Utils.Utils.GetClientPathForImage(image.Name))"
                                     class="rounded w-100"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <h1>Specs</h1>
    <div class="d-flex flex-column justify gap-5 w-100">
        @foreach (var pair in Model.PropertiesPerSection)
        {
            <div class="card">
                <ul class="list-group">
                    @{ await RenderSectionHead(pair.Key); }
                    @{ await RenderPropertyRows(pair.Value); }
                </ul>
            </div>
        }
    </div>
    @if (Model.PhoneReview is not null)
    {
        <h1>Your Review</h1>
        <partial name="_ReviewCard" model="@new  ReviewCard{ PhoneReview = Model.PhoneReview, isUser = false }"/>

        <div class="d-flex gap-2 justify-content-between">
            <a class="btn btn-primary" asp-page="/PhoneReview/Edit" asp-route-phoneReviewId="@(Model.PhoneReview.Id)">Edit</a>
            <a class="btn btn-danger" asp-page="/PhoneReview/Delete" asp-route-phoneReviewId="@(Model.PhoneReview.Id)">Delete</a>
        </div>
    }
    else
    {
        <a class="btn btn-primary" asp-page="/PhoneReview/Create" asp-route-phoneId="@(phone.Id)">Create</a>
    }
    <a class="btn btn-primary" asp-page="/PhoneReview/Index" asp-route-phoneId="@(phone.Id)">Phone Reviews from other
        user</a>
</div>
